body {
    font-family: 'Rubik Mono One', sans-serif;
    color: #fffede;
    background-color: #fffede;
  }
  
  .background { 
    margin: auto;
    margin-top: 20px;
    width: 920px;
    height: 650px;
    background:#fffede;
    display: grid;
    grid-gap: 9px;
    grid-template-columns: 220px 1fr 185px;
    grid-template-rows: 70px 1fr 120px 1fr 70px;
  }
  .background > div {
    background-color: #bd1f11;
  }
  .background > div:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    background-color: #03090d;
    z-index: 2;
  }
  .background > div:nth-child(2) {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    font-size: 70px;
    padding-left: 5px;
    padding-top: 2px;
  }
  .background > div:nth-child(3) {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    background-color: #4e7352;
  }
  .background > div:nth-child(4) {
    grid-column: 1 / 4;
    grid-row: 1 / 6;
    background-color:rgba(255,0,0,0);
    z-index: 3;
  }
  .background > div:nth-child(5) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 35px;
    line-height: 38px;
    text-align: center;
    background-color:rgba(255,0,0,0);
    z-index: 5;
    padding-top: 6px;
  }
  .background > div:nth-child(6) {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    background-color: #4e7352;
  }
  .background > div:nth-child(7) {
    grid-column: 2 / 4;
    grid-row: 5 / 6;
    font-size: 70px;
    padding-left: 5px;
    padding-top: 2px;
  }
  #leftcol { 
    width: 920px;
    height: 650px;
    background-color:rgba(255,0,0,0);
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 70px 510px 70px;
  }
  #leftcol > div{ 
    font-size: 70px;
    padding-right: 8px;
    text-align: right;
  }
  #leftcol > div:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-top: 2px;
  }
  #leftcol > div:nth-child(2) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
  #leftcol > div:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding-top: 2px;
  }
  .container { 
    position: absolute;
    width: 920px;
    height: 650px;
    perspective: 800px;
  }
  #card {
    width: 5960px;
    height: 650px;
    background-color: #fffede;
    display: grid;
    grid-column-gap: 25px;
    grid-row-gap: 10px;
    grid-template-columns: 16fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
    /*
    translateZ: -0.5*cardwidth*sin(angle)
    translateX: (0.5*cardwidth*cos(angle))-(0.5*cardwidth)
    */
    transform: translateZ(-2954px) translateX(-2745px) rotateY(-76deg);
  }
  #card > div {
    background-color: #bd1f11;
  }
  #card > div:nth-child(1) {
    color: #bd1f11;
    background-color: #03090d;
    grid-row-end: span 5;
    text-align: right;
    padding-right: 40px;
    font-size: 750px;
    line-height: 710px;
  }
  #card > div:nth-child(4) {
    background:#0d0e3d;
  }
  
  img {
    display: block;
    border: 9px solid #fffede;
    border-radius: 100%;
  }
  